@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h2>Issuer</h2>
<p>@Model.Issuer</p>

<h2>Claims</h2>
<ul>
@foreach(var claim in Model.Claims)
{
    <li>
        @claim.Key = @claim.Value
    </li>
}
</ul>