<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebDirListing</title>
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <script type="importmap"></script> *@
    @* <link rel="stylesheet" href="~/AspNetRazorPages.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <header>
        <a href="/">
            <h1>File server</h1>
        </a>
    </header>

    <main>
        @RenderBody()
    </main>


    <footer>
        Footer
    </footer>

</body>
</html>
