:root {
    --default-width: 1024px;
    --mobile-width: 640px;

    --link-color: rgb(240, 130, 20);
    --winamp-green: #3bfb0b;

    --primary-background: #222;
    --secondary-background: #111;

    --yellow: #ffff00;
    --yellow-medium: #ffea00;
    --yellow-dark: #9b9101;

    --purple: rgb(198, 9, 255);
    --magenta: rgb(255, 0, 255);
    --magenta-dark: rgb(139, 0, 139);

    --cyan: rgb(0, 255, 255);
    --cyan-dark: rgb(0, 139, 139);

    --cardinal: rgb(196, 30, 58);
    --cardinal-blue: rgb(196, 30, 90);
    --cardinal-hover: rgb(196, 30, 90, 0.3);


    --peach: #FF96AB;
    --peach-dark: #F27B7F;
    --headline-color: var(--cardinal);
    --link-text: white;

    --box-shadow: #A6A6A6;
    --slider-track: var(--cyan-dark);
    --slider-border: var(--cyan);
    --slider-thumb: var(--purple);
    --slider-thumb-border: var(--magenta-dark);

    --filetype-color: var(--yellow);
}